.al-container.single{
    padding-top: 70px;
    padding-bottom: 95px;
    .title{
        text-align: left;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 43px;
        color: #454545;
    }
    .data{
        font-family: $font_pattern;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $primary-color;
        padding-bottom: 41px;
        display: block;
    }
    .img-container{
        width: 82%;
        margin: 0 auto;
        padding-bottom: 57px;
        img{
            width: 100%;
            border-radius: 8px;
        }
    }
    .the-content{
        padding-bottom: 38px;
        margin-bottom: 28px;
        font-family: $font_pattern;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #5C5C5C;
        position: relative;
        &:after {
            content: '';
            display: block;
            width: 115%;
			max-width: 100vw;
            height: 1px;
            background: #EDEDED;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            @media (max-width: $dt) {
                width: calc(100% - 40px);
            }
        }
        p{
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: #5C5C5C;
            &:not(:last-of-type){
                padding-bottom: 21px;
            }
			a{
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 21px;
				color: #5C5C5C;
				transition: all .3s;
				&:hover{
					opacity: 0.6;
				}
			}
        }
        h2{
            font-family: $font_pattern;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            color: #454545;
            padding-bottom: 21px;
			a{
				font-family: $font_pattern;
				font-style: normal;
				font-weight: 500;
				font-size: 24px;
				line-height: 28px;
				color: #454545;
				transition: all .3s;
				&:hover{
					opacity: 0.6;
				}
			}
        }
    }
	.compartilhe{
		display: flex;
		justify-content: right;
		align-items: center;
		column-gap: 14px;
		padding-top: 61px;
		span{
			font-family: $font_pattern;
			font-size: 14px;
			font-weight: 400;
			line-height: 17px;
			letter-spacing: 0em;
			text-align: left;
			color: #ABABAB;
		}
		.links{
			display: flex;
			justify-content: center;
			align-items: center;
			column-gap: 9px;
			>a{
				cursor: pointer;
				display: inline-flex;
				width: 28px;
				height: 28px;
				border-radius: 50%;
				background: $primary-color;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
				transition: all .5s;
				text-align: center;
				justify-content: center;
				align-items: center;
				img{
					transition: all .5s;
					margin: auto;
					object-fit: contain;
				}
				&:hover{
					background: $primary-color;
					img{
						transform: rotateY(360deg);
					}
				}
			}
		}
		.a2a_kit {
			display: flex!important;
			flex-wrap: wrap;
			align-items: center;
			justify-content: flex-end;
			column-gap: 10px;
			transition: all .3s;
			visibility: visible;
			opacity: 1;
			&.hidden{
				visibility: hidden;
				opacity: 0;
			}
			span{
				font-family: $font_pattern;
				font-size: 14px;
				font-weight: 400;
				line-height: 17px;
				letter-spacing: 0em;
				text-align: left;
				color: #ABABAB;
				margin-right: 4px;
			}
			a{
				display: inline-flex;
				width: 28px;
				height: 28px;
				border-radius: 50%;
				background: $primary-color;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
				transition: all .5s;
				text-align: center;
				justify-content: center;
				align-items: center;
				img{
					transition: all .5s;
					margin: auto;
					object-fit: contain;
				}
				&:hover{
					background: $primary-color;
					img{
						transform: rotateY(360deg);
					}
				}
				&.addtoany_share{
					order: 1;
				}
				&.rede{
					order: 2;
				}
				&.a2a_button_facebook{
					order: 3;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				&.a2a_button_whatsapp{
					display: flex;
					justify-content: center;
					align-items: center;
					order: 4;
				}
			}
		}
	}
    .comment{
        width: 100%;
        max-width: 100%;
        min-height: 280px;
        h1{
            font-family: $font_pattern;
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 47px;
            color: $primary-color;
            padding-bottom: 20px;
        }
    }
}
