.al-container.blog{
    .title{
        text-align: left;
    }
    &.destaques{
        padding-bottom: 76px;
        padding-top: 70px;
        margin-bottom: 56px;
        position: relative;
        &:after {
            content: '';
            display: block;
            width: 115%;
            height: 1px;
            background: #E3E3E3;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            @media (max-width: $dt) {
                width: calc(100% - 40px);
            }
        }
        > .left-right-content{
            > .left{
                width: 60%;
                @media (max-width: $tb) {
                    width: 100%;
                }
                .article-container{
                    .artigo{
                        position: relative;
                        img{
                            border: 1px solid ;
                            box-sizing: border-box;
                            border-radius: 8px;
                            width: 100%;
                            min-height: 475px;
							max-height: 492px;
                            @media (max-width: $dt) {
                                height: 475px;
                            }
                        }
                        .titulo{
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            background: linear-gradient(180deg, rgba(41, 41, 41, 0) 0%, #3D3D3D 95.31%);
                            border-radius: 0px 0px 7px 7px;
                            width: 100%;
                            padding: 60px 25px;
                            .title{
                                padding-bottom: 0px;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 36px;
                                line-height: 40px;
                                color: $white;
                            }
                        }
                    }
                }
            }
            > .right{
                width: 40%;
                padding-left: 25px;
                @media (max-width: $tb) {
                    width: 100%;
                    padding-left: 0px;
                }
                > .left-right-content{
                    align-items: center;
                    &:not(:last-of-type){
                        border-bottom: 1px solid #E3E3E3;
                        padding-bottom: 12px;
                        margin-bottom: 12px;
                    }
                    > .left{
                        width: 34%;
                        a{
                            display: block;
                            height: 105px;
                            @media (max-width: $tb) {
                                height: auto;
                            }
                            img{
                                width: 100%;
                                border: 1px solid $primary-color;
                                border-radius: 8px;
                                height: 107px;
                            }
                        }
                    }
                    > .right{
                        width: 66%;
                        padding-left: 22px;
                        h2{
							overflow: hidden;
							text-overflow: ellipsis;
							display: -webkit-box;
							-webkit-line-clamp: 4;
							-webkit-box-orient: vertical;
                            font-family: $font_pattern;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 22px;
                            line-height: 26px;
                            color: #454545;
                            @media (max-width: $dt) {
                                font-size: 21px;
                            }
                        }
                    }
                }
            }
        }
    }
    &.listagem{
        padding-bottom: 72px;
        .posts{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            column-gap: 35px;
            row-gap: 35px;
            padding-bottom: 40px;
            .article-container{
                width: calc((100% / 3) - (70px / 3));
                @media (max-width: $tb) {
                    width: calc(50% - 35px);
                }
                @media (max-width: $sm) {
                    width: 100%;
                }
                .artigo{
                    background: $white;
                    border: 1px solid $primary-color;
                    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
                    border-radius: 8px;
					height: 100%;
                    @media (max-width: $dt) {
                        min-height: 402px;
                    }
                    @media (max-width: $sm) {
                        min-height: auto;
                    }
                    .img-container{
                        width: 100%;
                        img{
                            width: 100%;
                            height: 187px;
                            border-radius: 8px;
                        }
                    }
                    .titulo{
                        padding: 12px 24px 18px 24px;
                        min-height: 82px;
                        a{
                            display: block;
                            h2{
								overflow: hidden;
								text-overflow: ellipsis;
								display: -webkit-box;
								-webkit-line-clamp: 2;
								-webkit-box-orient: vertical;
                                font-family: $font_pattern;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 22px;
                                line-height: 26px;
                                color: #454545;
                            }
                        }
                    }
                    .text{
                        padding: 0px 24px 28px 24px;
                        font-family: $font_pattern;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 120%;
                        color: #444444;
                        min-height: 86px;
                        @media (max-width: $dt) {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
        .load_more{
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 12px;
            .page-numbers{
                font-family: $font_pattern;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                color: $primary-color;
                &:not(span){
                    transition: all 0.3s;
                    &:hover{
                        color: $black;
                    }
                }
                &.current{
                    background: $primary-color;
                    font-family: $font_pattern;
                    font-weight: 600;
                    color: $white;
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                }
            }
        }
    }
	&.loop{
		.posts .article-container .artigo .text{
			min-height: 56px;
			padding: 0px 24px 16px 24px;
		}
		.entry-date{
			font-family: $font_pattern;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 120%;
			color: $primary-color;
			padding: 0px 24px 10px 24px;
		}
		.entry-category{
			font-family: $font_pattern;
			font-style: normal;
			font-weight: 700;
			font-size: 10px;
			line-height: 123.68%;
			letter-spacing: -0.06em;
			text-transform: uppercase;
			width: fit-content;
			color: #FFF;
			border-radius: 8px;
			padding: 5px 10px;
			margin: 0px 24px 10px 24px;
			background-color: $primary-color;
		}
	}
}
