/* Header
========================================================================== */
header[role=heading]{
	&::before{
		content: "";
		display: block;
		width: 100%;
		padding: 10px;
		background-color: $primary-color;
	}
	.al-container{
		.logo{
			display: flex;
			img, svg{
				width: 130px;
				height: 110px;
				object-fit: contain;
				max-width: 100%;
			}
		}
		#desktop-menu{
			padding: 15px 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			@media (max-width: $dt) {
				display: none;
			}
			.menu{
				display: flex;
				align-items: center;
				ul.menu{
					display: flex;
					flex-wrap: wrap;
					column-gap: 44px;
					li{
						display: block;
						position: relative;
						a{
							display: flex;
							font-style: normal;
							font-weight: 400;
							font-size: 20px;
							color: $tertiary-color;
							font-family: $font_pattern;
							transition: all .3s;
						}
						&.current-menu-item, &:hover{
							a{
								color: $primary-color;
							}
						}
						&.current-menu-item{
							a{
								font-weight: 700;
							}
						}
					}
				}
			}
		}
		#mobile-icon{
			display: none;
			justify-content: right;
			position: fixed;
			padding: 13px 6px;
			right: 10px;
			top: 10px;
			z-index: 997;
			background-color: $white;
			box-shadow: 0 0 10px rgb(0 0 0 / 43%);
			@media (max-width: $dt) {
				display: flex;
			}
		}
		#mobile-menu{
			display: none;
			background: $primary-color;
			position: fixed;
			top: 0;
			right: -100%;
			width: 85vw;
			height: 100vh;
			transition: all .3s;
			overflow-y: scroll;
			z-index: 9999;
			max-width: 380px;
			box-shadow: 0 0 10px rgb(0 0 0 / 43%);
			@media (max-width: $dt) {
				display: block;
			}
			&.active{
				right: 0;
			}
			.container{
				padding: 40px 30px 20px 20px;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;
				.close{
					padding-bottom: 20px;
					display: flex;
					justify-content: flex-end;
					width: 100%;
					a{
						cursor: pointer;
					}
				}
				.logo{
					background: $white;
					padding: 5px 20px;
				}
				ul.menu{
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					li.menu-item{
						margin-top: 20px;
						width: 100%;
						text-align: center;
						a{
							font-family: $font_pattern;
							font-weight: 400;
							font-size: 20px;
							color: $white;
							transition: all 0.3s;
							position: relative;
							&::after{
								content: "";
								display: block;
								width: 0%;
								transition: all 0.3s;
								background: $white;
								height: 2px;
								position: absolute;
								bottom: -3px;
								left: 50%;
								transform: translateX(-50%);
							}
							&:hover{
								&::after{
									width: 100%;
								}
							}
						}
						&.current-menu-item{
							a{
								font-weight: 700;
								&::after{
									width: 100%;
								}
							}
						}
						&.menu-item-has-children{
							position: relative;
							ul.sub-menu{
								padding-top: 14px;
								background: $white;
								> li.menu-item{
									a{
										color: $primary-color;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

body:has(#mobile-menu.active){
	overflow: hidden;
}

.overlay{
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    background: rgb(0 0 0 / 43%);
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    &.active{
        opacity: 1;
        visibility: visible;
        z-index: 998;
    }
}
